<div class="small-container center-block">
<h1><%= t '.title' %></h1>
  <p class="center-block">
    <strong><%= t 'shopping_carts.global.quantity' %>:</strong>
    <%= @shopping_cart.quantity %>
  </p>

  <%= link_to t('.edit'), edit_shopping_cart_path(@shopping_cart) %> |
  <%= link_to t('.back'), shopping_carts_path %>
</div>
