

<h1><%= t '.title' %> <%= @user.email %></h1>

<table>
  <thead>
    <tr>
      <th><%= t 'credit_cards.global.number' %></th>
      <th><%= t 'credit_cards.global.cvv' %></th>
      <th><%= t 'credit_cards.global.cash' %></th>
      <th><%= t 'credit_cards.global.expire' %></th>
      <th colspan="3"><%= t 'global.tools' %></th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th><%= t 'credit_cards.global.number' %></th>
      <th><%= t 'credit_cards.global.cvv' %></th>
      <th><%= t 'credit_cards.global.cash' %></th>
      <th><%= t 'credit_cards.global.expire' %></th>
      <th colspan="3"><%= t 'global.tools' %></th>
    </tr>
  </tfoot>

  <tbody>
      <%= render @user.credit_cards %>
  </tbody>
</table>

<br>

<%= link_to t('credit_cards.global.btn_new'), new_credit_card_path %>
