<div class="card large-container center-block">
  <div class="card-header">
    <h1><%= t '.title' %></h1>
  </div>
  <div class="card-body center-block">
    <p>
      <strong><%= t '.number' %>:</strong>
      <%= @credit_card.number %>
    </p>

    <p>
      <strong><%= t '.cvv' %>:</strong>
      <%= @credit_card.cvv %>
    </p>

    <p>
      <strong><%= t '.cash' %>:</strong>
      <%= @credit_card.cash %>
    </p>

    <p>
      <strong><%= t '.expire' %>:</strong>
      <%= @credit_card.expire %>
    </p>
  </div>
  <div class="card-footer center-block">
    <div class="row">
     <p><%= t '.manage_by' %> <%= link_to @credit_card.user.email, from_user_credit_cards_path(@credit_card.user), class:"font-weight-bold" %></p>
    </div>
    <%= link_to t('.edit'), edit_credit_card_path(@credit_card) %> |
    <%= link_to t('.back'), credit_cards_path %>
  </div>
</div>
