

<h1><%= t '.title' %></h1>

<table>
  <thead>
    <tr>
      <th><%= t '.clasification' %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clasifications.each do |clasification| %>
      <tr>
        <td><%= clasification.clasification %></td>
        <td><%= link_to t('.show'), clasification %></td>
        <td><%= link_to t('.edit'), edit_clasification_path(clasification) %></td>
        <td><%= link_to t('.destroy'), clasification, method: :delete, data: { confirm: t('.confirm') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('.btn_new'), new_clasification_path %>
