

<h1><%= t '.title' %></h1>

<table>
  <thead>
    <tr>
      <th><%= t '.clasification' %></th>
      <th colspan="3"><%= t 'global.tools' %></th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th><%= t '.clasification' %></th>
      <th colspan="3"><%= t 'global.tools' %></th>
    </tr>
  </tfoot>

  <tbody>
    <% @clasifications.each do |clasification| %>
      <tr>
        <td><%= clasification.clasification %></td>
        <td>
          <a class="fa fa-eye ml-3"><%= link_to t('.show'), clasification %></a>
          <a class="fa fa-edit ml-3"><%= link_to t('.edit'), edit_clasification_path(clasification) %></a>
          <a class="fa fa-trash-alt ml-3"><%= link_to t('.destroy'), clasification, method: :delete, data: { confirm: t('.confirm') } %></a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('.btn_new'), new_clasification_path %>
