<nav class="navbar navbar-expand-md bg-info navbar-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#uno"><span class="navbar-toggler-icon"></span></button>
  <div class="collapse navbar-collapse" id="uno">
   <ul class="navbar-nav">
    <li class="nav-item"><%= link_to t('global.menu.home_html'), root_path, class:"nav-link h5 font-weight-bold text-light" %>  </li>
    <li class="nav-item"><%= link_to t('global.menu.shopping_carts_html'), new_shopping_cart_path, class:"nav-link h5 font-weight-bold text-light" %>  </li>
    <li class="nav-item"><%= link_to t('global.menu.products_html'), new_product_path, class:"nav-link h5 font-weight-bold text-light" %>  </li>
    <li class="nav-item"><%= link_to t('global.menu.english_html'), root_path(locale: :en), class:"nav-link h5 font-weight-bold text-light" %>  </li>
    <li class="nav-item"><%= link_to t('global.menu.spanish_html'), root_path(locale: :es), class:"nav-link h5 font-weight-bold text-light" %>  </li>
    <% if user_signed_in? %>
    <li class="nav-item"><%= link_to t('global.menu.unauthenticate_html'), destroy_user_session_path,  method: :delete, class:"nav-link h5 font-weight-bold text-light" %>  </li>
    <% else %>
    <li class="nav-item"><%= link_to t('global.menu.authenticate_html'), new_user_session_path, class:"nav-link h5 font-weight-bold text-light" %>  </li>
    <li class="nav-item"><%= link_to t('global.menu.register_html'), new_user_registration_path, class:"nav-link h5 font-weight-bold text-light" %>  </li>
    <% end %>
   </ul>
 </div>
</nav>
<% if notice %>
 <p class="notice alert-success mx-2 my-2 px-3 py-3 rounded font-weight-bold"><%= notice %></p>
<% end %>
<% if alert %>
 <p class="alert alert-danger mx-2 my-2 px-3 py-3 rounded font-weight-bold"><%= alert %></p>
<% end %>
