  <div class="card large-container center-block">
    <div class="card-header">
      <h1><%= t '.title' %></h1>
    </div>
    <div class="card-body center-block">
      <p>
        <strong><%= t '.code' %>:</strong>
        <%= @product.code %>
      </p>

      <p>
        <strong><%= t '.name' %>:</strong>
        <%= @product.name %>
      </p>

      <p>
        <strong><%= t '.stock' %>:</strong>
        <%= @product.stock %>
      </p>

      <p>
        <strong><%= t '.price' %>:</strong>
        <%= @product.price %>
      </p>

      <p>
        <strong><%= t '.um' %>:</strong>
        <%= @product.um %>
      </p>

      <p>
        <strong><%= t '.img' %>:</strong>
        <%= @product.img %>
      </p>
    </div>
    <div class="card-footer center-block">
      <div class="row">
       <p><%= t '.manage_by' %> <%= link_to @product.user.email, from_manager_products_path(@product), class:"font-weight-bold" %></p>
      </div>
      <%= link_to t('.edit'), edit_product_path(@product) %> |
      <%= link_to t('.back'), products_path %>
    </div>
  </div>
